<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title>曾午 和 王辉</title>

</head>

<body >
<div layout:fragment="content" th:remove="tag">
<div id="app">
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-small">
                <h3>我的世界，因为有你才会美，我的天空，应为有你不会黑！！！</h3>
            </div>
        </div>
    </div>
</div>
</div>

<div layout:fragment="js" th:remove="tag">
    <script th:src="@{/js/learn-resource.js}"></script>
</div>
</div>
</body>
</html>