<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<base href="/">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="YY - 登录界面" />
<title>YY - 相册中心</title>

<link rel="stylesheet" href="../static/assets/css/jq22.css"  th:href="@{/assets/css/jq22.css}"  />
<link rel="stylesheet" href="../static/assets/css/font-awesome.min.css" th:href="@{/assets/css/font-awesome.min.css}"/>
<link rel="shortcut icon" href="../static/assets/images/ico/favicon.ico" th:href="@{/assets/images/ico/favicon.ico}" type="image/x-icon" />

<script src="../static/assets/js/jquery-1.10.2.min.js" th:src="@{/assets/js/jquery-1.10.2.min.js}"></script>
<script src="../static/assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>
<script src="../static/assets/js/jquery.messager.js" th:src="@{/assets/js/jquery.messager.js}"></script>
    <script th:inline="javascript">
        var baseURL = '/';
    </script>
    <script type="text/javascript">
        $(function() {
            $('#login #password').focus(function() {
                $('#owl-login').addClass('password');
            }).blur(function() {
                $('#owl-login').removeClass('password');
            });

            //简单登录操作
            $("#doLogin").click(function (e) {
                var name = $("#username").val();
                var paw = $("#password").val();
                var a = name.empty();
                if (name.empty() || paw.empty()) {
                    $.messager.alert("提示", '账号密码不能为空！');
                }
                // $.ajax({
                //     type : "POST",
                //     url : "/login",
                //     data : {
                //         "username" : $("#username").val(),
                //         "password" : $("#password").val()
                //     },
                //     dataType : "json",
                //     success : function(data) {
                //         if (data.result == "1") {
                //             window.location.href =baseURL+"index";
                //         } else {
                //             $.messager.alert("提示",'账号密码不能为空！');
                //         }
                //     }
                // });
            });
        });
    </script>
</head>
<body>
<!-- begin -->
<div id="login">
    <div class="wrapper">
        <div class="login">
            <form th:action="@{/login}" method="post" class="container offset1 loginform">
                <div id="owl-login">
                    <div class="hand"></div>
                    <div class="hand hand-r"></div>
                    <div class="arms">
                        <div class="arm"></div>
                        <div class="arm arm-r"></div>
                    </div>
                </div>
                <div class="pad">
                    <input type="hidden" name="_csrf" value="9IAtUxV2CatyxHiK2LxzOsT6wtBE6h8BpzOmk="/>
                    <div class="control-group">
                        <div class="controls">
                            <label for="userName" class="control-label"><i class="fa fa-user" aria-hidden="true"></i></label>
                            <input id="username" type="text" name="username" placeholder="账号" tabindex="1" autofocus="autofocus" class="form-control input-medium" />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="password" class="control-label"><i class="fa fa-key" aria-hidden="true"></i></label>
                            <input id="password" type="password" name="password" placeholder="密码" tabindex="2" class="form-control input-medium" />
                        </div>
                    </div>
                </div>
                <div class="form-actions"><a href="#" tabindex="5" class="btn pull-left btn-link text-muted">Forgot password?</a><a href="#" tabindex="6" class="btn btn-link text-muted">Sign Up</a>
                    <button id="doLogin" type="submit" tabindex="4" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end -->
</body>
</html>